.login {
    width:300px;
}

nav.body {
    padding-bottom: 5px;
}

tr.info2{
    background-color:#337ab7;
    color:#ffffff;
}

.btn-droite{
    float:right;
}

.center{
    position: relative;
    float: left;
    text-align: center;
    margin-top : 15px;
    left: 37%;
}